body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.dark-orange-color{
  background-color: #ff742b;
  color:white;
}

.arrow-color{
  color:gray;
}

.news-feed-details{
  color: gray;
  font-size:14px;
}

.button-points:active, .button-points:focus{
  background: green;
}

.fontweight-and-color{
  color:black;
  font-weight:600;
}

.no-border-outline, .no-border-outline:focus{
  border:none;
  outline:none;
  background: transparent;
}

.news-feed{
  color:black;
  font-weight:500;
}

.cursor-pointer{
  cursor: pointer;
}

.float-right{
  float:right;
}

.color-orange{
  color:#ff742b;
}

.navigate-buttons{
  font-weight:500;
  padding:1rem
}

.navigate-buttons:active{
  color:black;
}

#reactgooglegraph-1{
  padding:1rem
}
#reactgooglegraph-1,#reactgooglegraph-1>*,#reactgooglegraph-1 svg{
  height:400px;
}